---
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-10">
      <h1 class="text-white text-5xl font-bold flex flex-row pb-4">
        Hey, soy
        <a
          href="https://github.com/abrahesh"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center pl-4">abrah.dev</a
        >
        <a
          href="https://www.linkedin.com/in/abrahamescalona/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center pl-4"
        >
          <Badge>Cv</Badge>
        </a>
      </h1>
      <h2 class="text-white text-2xl font-light opacity-80">
        Desarollador web y Data Scientist. De españa. Especializado en crear
        responisve webs
      </h2>
      <SocialPill/>

    </section>
  </main>
</Layout>
