<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
  <img
    class="rounded-full w-12 h-12"
    src="https://avatars.githubusercontent.com/u/108555670?v=4"
    alt="abrah photo"
  />
  <nav>
    <ul class="flex flex-row gap-x-10">
      <li>
        <a class="hover:text-violet-300 transition-colors duration-100" href="/"
          >Home</a>
      </li>
      <li>
        <a
          class="hover:text-violet-300 transition-colors duration-100"
          href="/About">About</a>
      </li>
      <li>
        <a
          class="hover:text-violet-300 transition-colors duration-100"
          href="/Projects">Projects</a>
      </li>
      <li>
        <a
          class="hover:text-violet-300 transition-colors duration-100"
          href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
