<header
  class="flex items-center scale-90 justify-center sm:justify-between
px-5 pt-12 sm:py-5 w-full xl:w-[1120px] mx-auto"
>
  <a href="https://www.github.com/abrahesh" target="_blank">
    <img
      class="rounded-full w-12 h-12 hidden sm:block"
      src="https://avatars.githubusercontent.com/u/108555670?v=4"
      alt="abrah photo"
    />
  </a>
  <nav>
    <ul class="flex flex-row gap-x-10">
      <li>
        <a
          class="dark:hover:text-violet-300 hover:text-violet-900 transition-colors duration-100"
          href="#">Inicio</a
        >
      </li>

      <li>
        <a
          class="dark:hover:text-violet-300 hover:text-violet-900 transition-colors duration-100"
          href="#experience">Experiencia</a
        >
      </li>
      <li>
        <a
          class="dark:hover:text-violet-300 hover:text-violet-900 transition-colors duration-100"
          href="#projects">Proyectos</a
        >
      </li>
      <li>
        <a
          class="dark:hover:text-violet-300 hover:text-violet-900 transition-colors duration-100"
          href="#contact">Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
