---
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
---

<ul class="flex flex-row gap-x-5 pt-6">
  <a
    href="https://www.linkedin.com/in/abrahamescalona/"
    target="_blank"
    rel="noopener"
  >
    <LinkedInIcon class="size-8" />
  </a>
  <a href="https://github.com/abrahesh" target="_blank" rel="noopener">
    <GitHubIcon class="size-8" />
  </a>
  <a
    href="javascript:void(0);"
    onclick="navigator.clipboard.writeText('abraham@abrah.dev');"
    class="flex flex-row gap-x-2"
  >
    <span
      class="flex gap-2-x items-center font-extralight dark:text-indigo-100opacity-70 hover:opacity-100 dark:hover:text-violet-300 hover:text-violet-900 transition-colors duration-100"
    >
      <MailIcon class="size-8" />
      <div class="pl-4">abraham@abrah.dev</div>
    </span>
  </a>
</ul>
