---
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
---

<ul class="flex flex-row gap-x-5 pt-3">
  <a
    href="https://www.linkedin.com/in/abrahamescalona/"
    target="_blank"
    rel="noopener"
  >
    <LinkedInIcon class="w-6 h-6" />
  </a>
  <a
    href="https://github.com/abrahesh"
    target="_blank"
    rel="noopener"
  >
    <GitHubIcon class="w-6 h-6" />
  </a>
</ul>
