---
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
---

<ul class="flex flex-row gap-x-5 pt-6">
  <a
    href="https://www.linkedin.com/in/abrahamescalona/"
    target="_blank"
    rel="noopener"
  >
    <LinkedInIcon class="size-6" />
  </a>
  <a href="https://github.com/abrahesh" target="_blank" rel="noopener">
    <GitHubIcon class="size-6" />
  </a>
  <a
    href="javascript:void(0);"
    onclick="navigator.clipboard.writeText('abraham@abrah.dev');"
    class="flex flex-row gap-x-2"
  >
    <MailIcon class="size-8" />
    <span
      class="dark:text-indigo-100opacity-70 font-extralight hover:opacity-100 dark:hover:text-violet-300 hover:text-violet-900 transition-colors duration-100"
    >
      abraham@abrah.dev
    </span>
  </a>
</ul>
